@use 'variables' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Inter', 'Poppins', sans-serif;
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Offset header */
main,
.router-outlet {
  flex: 1;
  padding-top: 64px;
}

footer {
  margin-top: auto;
  border-radius: 0 0 20px 20px;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}
