@use 'variables' as *;
@use 'global' as *;
@import "prismjs/themes/prism-tomorrow.css";


/* Overlay dialog global fix */
.cdk-overlay-container {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  pointer-events: none !important;
  z-index: 10000 !important;
}

.cdk-global-overlay-wrapper {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  pointer-events: auto !important;
}

.cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.6) !important;
  backdrop-filter: blur(3px);
}

.custom-dialog-container .mat-mdc-dialog-container {
  border-radius: 12px;
  background: var(--color-bg-section, #222);
  color: var(--color-text-primary, #fff);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
  animation: fadeInScale 0.25s ease;
  transform-origin: center center;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
