<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>


<div id="contact-section">
<div class="slide-in" style="flex: 1; padding-right: 20px;">
  <h2 style="font-size: 36px; margin-bottom: 10px;">Contact Me</h2>
  <h1 style="font-size: 48px; font-weight: bold; margin: 0;">Let's Connect</h1>
  <div style="margin-top: 20px;">
    <p style="font-size: 18px; margin: 10px 0;">
      <i class="fa fa-envelope"></i>
      <a [href]="'mailto:' + email" style="color: inherit; font-size: 18px; text-decoration: none; margin: 10px 0;">
        {{email}}
      </a>
    </p>
    <p style="font-size: 18px; margin: 10px 0;">
      <i class="fa fa-phone" style="margin-right: 10px;"></i>+62 87803526244
    </p>
  </div>
</div>

<!-- Center: Follow Me Links -->
<div class="slide-in" style="flex: 1; text-align: center;">
  <h3 style="font-size: 20px; margin-bottom: 20px;">Follow Me</h3>
  <div style="font-size: 24px;">
    <a href="https://www.instagram.com/alfredosirait/" style="margin: 0 10px; color: #333; text-decoration: none;" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.linkedin.com/in/edo-sirait/" style="margin: 0 10px; color: #333; text-decoration: none;" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://wa.me/6287803526244" style="margin: 0 10px; color: #333; text-decoration: none;" target="_blank" >
      <i class="fab fa-whatsapp"></i>
    </a>

  </div>
</div>

<!-- Right Side: Decorative Image -->
<div class="slide-in" style="flex: 1;">
  <img
    src="assets/img/contact-me.png"
    alt="Contact"
    style="
        width: 100%;
        max-width: 400px;
        border-radius: 10px;
        opacity: 0.9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      "
  />
</div>
</div>
